
/**
 * @file
 * Main module stylesheet.
 */

/*****************************************************************************
 * Payment details on checkout page
 ****************************************************************************/
.payment-details-paymill .form-item {
  margin: 0;
}
.payment-details-paymill label {
  clear: left;
  float: left;
  margin: 2px 0;
  padding-top: 5px;
  width: 10em;
}
.payment-details-paymill input,
.payment-details-paymill select {
  float: left;
  margin: 2px;
}
.form-item-panes-payment-details-cc-start-year label,
.form-item-panes-payment-details-cc-exp-year label,
.form-item-cc-data-cc-start-year label,
.form-item-cc-data-cc-exp-year label {
  display: none;
}
.payment-details-paymill .field-suffix {
  float: left;
  margin: 2px;
  padding-top: 5px;
}
/* Payment details on checkout page end */
